<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fu.naan.genealogy">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoandroid"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoandroid"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SearchScreenActivity"/>
        <activity android:name=".activity.SettingScreenActivity" />
        <activity android:name=".activity.MemberDetailScreenActivity" />
        <activity android:name=".activity.AddFamilyMemberScreenActivity" />
        <activity android:name=".activity.SplashScreenActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FamilyTreeScreenActivity"/>
    </application>

</manifest>